@title-font : "FlyerLTStd-BlackCondensed", impact, Arial Narrow, arial,sans-serif;

@darkblue : #12264D;
@teal: #00AEAC;
@darkteal: #007876;
@blue:#005896;

// header


.fusion-mobile-menu-design-modern.fusion-header-v1 .fusion-header, .fusion-mobile-menu-design-modern.fusion-header-v2 .fusion-header, .fusion-mobile-menu-design-modern.fusion-header-v3 .fusion-header, .fusion-mobile-menu-design-modern.fusion-header-v4 .fusion-header, .fusion-mobile-menu-design-modern.fusion-header-v5 .fusion-header
	{
	padding-top: 0!important;
	height: 40px;
	position: relative;
	
}

.fusion-header-wrapper .fusion-header {	
 	background: #464B55!important;
	background-image: radial-gradient(49% 867%, invalid gradient)!important;
}

.fusion-mobile-nav-holder ul#menu-main-menu.fusion-menu {
	padding-top: 100px;
	background: #fff;
	margin-top: 20px;
}

.fusion-mobile-menu-icons {
	position: absolute;
	z-index: 400;
	top:-10px;
	right: 20px;


}

// slider styles

.slide-content{
	.heading h2 {

		font-family: @title-font;
		font-weight: bold;
		font-size: 86px;
		color: #FFFFFF;
		line-height: 63px;
		text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
		}
}

.fullblockheading {

		font-family: @title-font;
		font-weight: bold;
		font-size: 86px!important;
		color: #FFFFFF!important;
		line-height: 63px!important;
		text-shadow: 0px 2px 4px rgba(0,0,0,0.50);	
		text-align: center; 
	}

.mediumblockheading {

		font-family: @title-font;
		font-weight: bold;
		font-size: 64px!important;
		color: #FFFFFF!important;
		line-height: 63px!important;
		text-shadow: 0px 2px 4px rgba(0,0,0,0.50);	
		text-align: center;
	}


.floater {
 
}

.fusion-title.title.fusion-title-size-two.floater { //styling 
display: block;
position: absolute;
width: 100%;
text-align: center;
// background: red;
height: 60px;
z-index: 100;
// left:50%; 
top: 30%;



	.title-heading-left {
		// z-index: 110;
		// position: relative;
		display: inline-block;
		text-align: center;
		float:none;
		margin-left: auto;
		margin-right: auto;
		/* LEARN HARD PLAYHARD: */
		font-family: @title-font;
		font-weight: bold;
		text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
		color: #FFFFFF!important;
		text-transform: uppercase;
		font-size: 38px!important;
		line-height: auto!important;
		// background: yellow;
	}

	.title-sep-container {
		display: none;
	}

}



// buttons

.boton {
text-transform: uppercase;
text-shadow: 0px 1px 2px rgba(0,0,0,0.50);
font-family: @title-font;
font-weight: bold;
font-size: 20px;
line-height: 21px;
// min-height: 48px;
display: block;
text-align: center;
// height: 60px;
width:240px;
background-color: #BFD2D8;
padding-top: 20px;
padding-bottom: 16px;
margin-right: auto;
margin-left: auto;
/* Mask: */
// background-image: linear-gradient(-1deg, #FFFFFF 0%, #BED1D7 100%);
/* Sketch doesnt export gradient borders at this point */
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 6px 0px rgba(0,0,0,0.16);
border-radius: 10px;
color: #fff;
 
}


	.boton.botonazul {
		background-image: url("assets/images/button--back__blue.svg") ;
		background-position: -200px -180px;
		background-repeat: no-repeat;
		overflow: hidden;
	}

	.boton.botonverde {
		background-image: url("assets/images/button--back__green.svg") ;
		background-position: -200px -180px;
		background-repeat: no-repeat;
		overflow: hidden;
	}


.boton:hover {
	color: white;
	
	background-position: -50px -180px;
	transition: background-position 0.5s ease;
}
	// .boton.botonazul:before {
	// 	content: "";
	// 	position: absolute;
	// 	background-image: linear-gradient(-1deg, #FFFFFF 0%, #BED1D7 100%);
	// 	left: 0;
	// 	right:0;
	// 	width: 100%;
	// 	display: inline-block;
	// 	// z-index: 3;
	// }

.icenterthefool {
	text-align: center;
}





// style the headers with corners

h1.corner {
	
	@media (min-width: @screen-sm-min) {
	  	font-size: 48px!important;
		line-height: 50px!important;
	  }

	@media (min-width: @screen-md-min) {
		font-size: 54px!important;
		line-height: 68px!important;
	}

	@media (min-width: @screen-lg-min) {
			font-size: 64px!important;
			line-height: 84px!important;
	}

	&.big {
		@media (min-width: @screen-sm-min) {
		  	font-size: 48px!important;
			line-height: 50px!important;
			.chiquito {
				font-size: 26px!important;
				line-height: 28px!important;
				}
		  }

		@media (min-width: @screen-md-min) {
			font-size: 54px!important;
			line-height: 55px!important;
			.chiquito {
				font-size: 30px!important;
				line-height: 33px!important;
				}
		}

		@media (min-width: @screen-lg-min) {
				font-size: 64px!important;
				line-height: 65px!important;
				.chiquito {
					font-size: 36px!important;
					line-height: 38px!important;
					}
		}

	}
	 
}

h2.corner {
	
	@media (min-width: @screen-sm-min) {
	  	font-size: 38px!important;
		line-height: 40px!important;
	  }

	@media (min-width: @screen-md-min) {
		font-size: 42px!important;
		line-height: 44px!important;
	}

	@media (min-width: @screen-lg-min) {
			font-size: 54px!important;
			line-height: 58px!important;
	}


	&.big {
		@media (min-width: @screen-sm-min) {
		  	font-size: 48px!important;
			line-height: 50px!important;
			.chiquito {
				font-size: 26px!important;
				line-height: 28px!important;
				}
		  }

		@media (min-width: @screen-md-min) {
			font-size: 54px!important;
			line-height: 55px!important;
			.chiquito {
				font-size: 30px!important;
				line-height: 33px!important;
				}
		}

		@media (min-width: @screen-lg-min) {
				font-size: 64px!important;
				line-height: 65px!important;
				.chiquito {
					font-size: 36px!important;
					line-height: 38px!important;
					}
		}

	}

}

.corner {

	color: @blue!important;
	background: -webkit-linear-gradient(@blue, @darkblue);
	display: inline-block;
	width: auto;
	font-family: @title-font;
	font-weight: bold;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;


	&.light {
	color: #fff!important;
	// background:none;
	// text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
	}


 	
	// background: red;
	
	margin-right: auto;
	margin-left: auto;
	position: relative;
	text-align: center;
	z-index: 40;
	margin-bottom: 0;


	-webkit-transform: rotate(-2deg);
   	-moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);


    @media (min-width: @screen-sm-min) {
	  	padding: 24px;
	  	}

	@media (min-width: @screen-md-min) {
		padding: 30px;
		}

	@media (min-width: @screen-lg-min) {
		padding: 36px;
		}


	

	bottom, top {
		position: absolute;
	//  background: yellow;
		height:36px;
		width:	100%;
		z-index: 41;

		&:after, &:before {
			content: "";
			display: inline-block;
			
			background: url("assets/images/corner.svg");
			background-repeat: no-repeat;
			position: absolute;
			background-position: bottom left;

			@media (min-width: @screen-sm-min) {
			  	width: 24px;
				height: 24px;
				background-size:24px 24px; 
			  }

			@media (min-width: @screen-md-min) {
				width: 30px;
				height: 30px;
				background-size:30px 30px; 
			}

			@media (min-width: @screen-lg-min) {
				width: 36px;
				height: 36px;
				background-size:36px 36px; 
			}

		}
	}


	bottom {
		
		bottom:0;
		left:0;


		&:before {
			bottom:5px;
			left:5px;
		}

		&:after {
			right:5px;
			bottom:5px;
			-webkit-transform: rotate(-90deg);
   			-moz-transform: rotate(-90deg);
    		-ms-transform: rotate(-90deg);
    		-o-transform: rotate(-90deg);
    		transform: rotate(-90deg);
    		z-index: 42;
		}
	}

	

	top {

			top:0;
			left:0;
			// background-color: red;
			// overflow: hidden;
// -webkit-transform:  rotate(180deg);
//    -moz-transform:  rotate(180deg);
//    -ms-transform:  rotate(180deg);
//    -o-transform:  rotate(180deg);
//     transform:  rotate(180deg);

 			&:before { //create the box with the corner 

 			top:5px;
 			left:5px;
			// background-color: blue;
			-webkit-transform: rotate(90deg);
   			-moz-transform: rotate(90deg);
    		-ms-transform: rotate(90deg);
    		-o-transform: rotate(90deg);
    		transform: rotate(90deg);
    		z-index: 43;
			}


    		&:after {
    		right:5px;
			top:5px;
			// background:grey;
			-webkit-transform: rotate(-180deg);
   			-moz-transform: rotate(-180deg);
    		-ms-transform: rotate(-180deg);
    		-o-transform: rotate(-180deg);
    		transform: rotate(-180deg);
    		z-index: 44;

    		}

		}

}


.hks-image-row {

display: block;
margin: auto;


.stretch {
		// width: 25%;
		width:100%;
		// display: inline;
	}

}



//dealing with the image frames

.fusion-imageframe {
	background-color: none!important;
}


.darkbox {

	
}

.gear-bluebox {
-moz-border-radius:9px!important;
-webkit-border-radius: 9px!important;
border-radius: 9px!important;
background: @darkblue; 
background-image: linear-gradient(-1deg, #005896 11%, #12264D 98%);

}

// tuition board boxes

.board {
	text-align: center;
	// color: white;

	// padding: 60px 0 60px 0;
	position: relative;
	z-index: 30;

	// 
	
}



.tuitionblock {

	display: block;
	width: 100%;
	// margin-top: -66%;
	color: white;
	position: absolute;
	z-index: 35;

			@media (min-width: @screen-sm-min) {
			  	top:25px;
			  }

			@media (min-width: @screen-md-min) {
				top:35px;
			}

			@media (min-width: @screen-lg-min) {
				top:55px;
			}

	h3 {
		font-family: @title-font;
		font-weight: bold;
		text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
		font-size: 35px!important;
		line-height: 36px!important;
		color: white!important;
		padding: 0 0 0 0;
		margin: 0;
	}

	span {
		text-align: center;
	}


	.price {
		display: inline-block;
		font-family: @title-font!important;
		font-weight: bold;
		text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
		font-size: 36px;
		line-height: 38px;
		color: white;
		// padding-top: 20px;
		padding-bottom: 100px;
	}


}


// tester blocks

.testertext{

	position: relative;
	// border-top: 3px solid @darkblue!important;
	// z-index: 50;

	.fusion-row {

		// @media (min-width: @screen-sm-min) {
		// 		padding-left: 15%!important;
		// 		padding-right: 15%!important;
		// 	 }

		// @media (min-width: @screen-md-min) {

		// 		padding-left: 33%!important;
		// 		padding-right: 33%!important;
				
		// 	}

		// @media (min-width: @screen-lg-min) {
		// 		padding-left: 15%!important;
		// 		padding-right: 15%!important;
		// 		width: 70%;
		// 	}

	}

}

.paddleboard {
	background: @blue;
}

.tester, .paddleboard {
	-moz-border-radius:9px!important;
	-webkit-border-radius: 9px!important;
	border-radius: 9px!important;
	position: relative;
	margin-left: 20px;
	padding: 50px 10px 45px 10px;
	

		@media (min-width: @screen-sm-min) {
				width: 90%;
			 }

		@media (min-width: @screen-md-min) {

				width: 100%;
				
			}

		@media (min-width: @screen-lg-min) {
				width: 100%;
			}


	.littlekite {
		position: absolute;
		top:-20px;
		left:-20px;
	}

	&.private {
		background: @blue;

	}

	&.group {
		background: #00AEAC;
	}

	.price {
		display: inline-block;
		font-family: @title-font!important;
		text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
		font-size: 36px;
		line-height: 38px;
		color: white;
		// padding-top: 20px;
		// padding-bottom: 100px;
	}

	.perperson {
		display: inline-block;
		font-family: @title-font!important;
		text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
		font-size: 24px;
		line-height: 24px;
		color: white;
	}


}

.prices.single {
		display: inline;
		font-family: @title-font!important;
		text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
		font-size: 24px;
		color: @blue;
		padding-bottom: 20px;
}


//lessons-main - where most of the lessons stuff lies

.lessons-main, .rentals-main, .rental-prices {

	position: relative;
	// border-top: 3px solid @darkblue!important;
	// z-index: 50;
 
	.fusion-row {

		// background:red;

		@media (min-width: @screen-sm-min) {
				padding-left: 2.5%!important;
				padding-right: 2.5%!important;
				width: 95%!important;
			 }

		@media (min-width: @screen-md-min) {

				padding-left: 5%!important;
				padding-right: 5%!important;
				width: 90%!important;
				
			}

		@media (min-width: @screen-lg-min) {
				padding-left: 10%!important;
				padding-right: 10%!important;
				width:80%!important;

			}
	}

}



//course blocks;

.fullcourse {

	position: relative;
	border-top: 5px solid @darkblue!important;
	z-index: 20;


	.fusion-row {

		@media (min-width: @screen-sm-min) {
				padding-top: 50px;
				padding-left: 15%!important;
				padding-right: 15%!important;
				padding-bottom: 60px;
			 }

		@media (min-width: @screen-md-min) {

				padding-left: 10%!important;
				padding-right: 10%!important;
				padding-bottom: 30px;
				
			}

		@media (min-width: @screen-lg-min) {
				padding-left: 20%!important;
				padding-right: 20%!important;
				padding-bottom: 10px;

			}

	}

}

.course--logo {
		background: white url("assets/images/logocourse.svg") center center no-repeat;
		width:118px;
		height: 118px;
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 6px 0px rgba(0,0,0,0.16);
		border-radius: 50%;
		position: absolute;
		top:10px;
		left:50%;
		margin-left: -54px;
		z-index: 80;
	}

.course--block {
	display: block;
	// width:100%;
	border-radius: 15px;
	// position: relative;
		// z-index: 60;
	padding-bottom: 25px;

	@media (min-width: @screen-sm-min) {
				// width: 75% ;
				// margin-left: 12.5%;

			  }

	@media (min-width: @screen-md-min) {
			// width: 100%;
			// margin-left: 0;
		}

	@media (min-width: @screen-lg-min) {
		// width: 100%;
		// margin-left: 0;
		}



	&:after {
			content: "";
			position: absolute;
			
			width:100px;
			height: 110px;
			z-index: 62;

			@media (min-width: @screen-sm-min) {
				top:-26px;
				left:-4%;
			  }

			@media (min-width: @screen-md-min) {
				top:-26px;
				left:-4%;	
					
				}

			@media (min-width: @screen-lg-min) {
				top:-26px;
				left:-20px;
				
				}

			// background: url("assets/images/mod1-kite.svg") top left no-repeat;
		}
	// &:before {
	// 		content: "";
	// 		position: absolute;
	// 		top:-26px;
	// 		left:25px;
	// 		width:100px;
	// 		height: 110px;
	// 		z-index: 30;
	// 		background: url("assets/images/mods-kite--back.svg") top left no-repeat;

	// }

	&.mod1 {
		background: rgba(0,174,172,.85);
		&:after {
			background: url("assets/images/mod1-kite.svg") top left no-repeat;
		}

	}
	&.mod2 {
		background: rgba(0,88,150,.85);
		&:after {
			background: url("assets/images/mod2-kite.svg") top left no-repeat;
		}
	}

	&.mod3 {
		background: rgba(18,38,77,.85);
		&:after {
			background: url("assets/images/mod3-kite.svg") top left no-repeat;
		}
	}
	
}

.course--head {
		display: block;
		width: 100%;
		text-align: center;
		padding-top: 5px;
		// padding-bottom: 10px;

	h4 {
		font-family: @title-font!important;
		// text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
		font-size: 34px!important;
		color: #fff!important;
		line-height: 20px!important;
		// padding-bottom: 20px;
		
		.light {
			font-size: 23px;
			color: rgba(255,255,255, .5);
			line-height:28px!important;
			}

	}
		
}

.course--time {
	display: block;
	text-align: center;
	background: #D8F4F3;
	font-family: @title-font!important;
	color: @blue;	
	font-size: 34px;
	line-height: 38px;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}


.course--text {
	background: white;
	display: block;
	padding: 10px;
	width: 100%;
	min-height: 90px;

	}

.course--lines{
	position: absolute;
	width:100%;
	bottom:0;
	left:0;
	right: 0;
	display: block;
	color: white!important;

	p {
		padding: 4px;
		margin: 0;
		font-size: 28px!important;
		line-height: 30px!important; 
	}


	.line1 {
		background-color: @darkblue;
		width: 100%;
		display: block;

	}

	.line2 {
		background-color: @blue;
		width: 100%;
		display: block;

	}

}


body #rental-prices {
	display: inline;
	td {
		vertical-align: center;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.one, .three, .threeplus {
	@media (min-width: @screen-sm-min) {
			win-width: 25%;//because this is inside the fusionrow
			  }

	@media (min-width: @screen-md-min) {
			width: 26.66%;
		}

	@media (min-width: @screen-lg-min) {
			width: 30%;
		}
	}

	.three {
		background-color: @blue;
	

	}
	.threeplus {
		background-color: @teal;
		
	}
	thead{
		text-transform: uppercase;
		font-family: @title-font!important;
		font-size: 24px!important;
		color: #fff!important;
		line-height: 20px!important;
		text-shadow: 0px 2px 4px rgba(0,0,0,0.50);

		.three, .threeplus{
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}

	}

	.rent-title {
		text-transform: uppercase;
		font-family: 20@title-font!important;
		font-size: 2px!important;
		color: @teal!important;
		line-height: 20px!important;
	}

	.rental-price {
		font-family: @title-font!important;
		font-size: 24px!important;
		color: @teal!important;
		line-height: 20px!important;
	}

	.row {
		background: white;
		// border:1px @blue solid;

		&:nth-child(even) {
			background: rgba(0,174,171,0.17);
		}

		td {
			font-weight: bold;
			font-size: 20px;
		}
	}

	.end {
		.three, .threeplus{
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}

	}

}

