table#rental-prices
	thead
		tr
			td
			td.three up to 3hrs
			td.threeplus over 3hrs
	tbody
		tr
			td.rent-title  Kiteboarding Kit
			td.three
			td.threeplus
		tr.row
			td Complete: kite, board, harness &amp; wetsuit
			td.rental-price $65 USD
			td.rental-price $95 USD
		tr
			td.rent-title  Separates
			td.three
			td.threeplus
		tr.row
			td Kite            
			td.rental-price $40 USD        
			td.rental-price $65 USD
		tr.row
			td Board        
			td.rental-price $20 USD        
			td.rental-price $30 USD        
		tr.row
			td Harness        
			td.rental-price $15 USD        
			td.rental-price $20 USD
		tr.row
			td Wet Suit    
			td.rental-price $15 USD        
			td.rental-price $30 USD    
		tr.row
			td Surf Board    
			td.rental-price $30 USD        
			td.rental-price $50 USD
		tr.end
			td
			td.three
			td.threeplus
		tr.damages
			td(colspan=3) Whilst you're renting the equipment it will be your responsibility to return the equipment to us in the condition in which you received it. Any damage will result in a repair or replacement costs.